body, html {
	background-color: transparent;
    color: #f2f2f2;
    letter-spacing: 6px;
    margin: 0 auto;
    font-family: "arial";
	height: 100%;

}

.parallax {
    /* The image used */
    background-image: url("https://i.pinimg.com/originals/74/a8/25/74a8258fecbc09155033242cef2cc69b.gif");

    /* Full height */
    height: 15%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div {
	background-color: transparent;
}
.parallax2 {
    height: 80%; 
}
form, a, p {
    margin-left: 5vw;
	background-color: transparent;
}

h1, h2, h3 {
    margin-left: 5vw;
}

h1 {
    font-size: 300%;
}

.input-field {
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
    padding: 2px;
    font-size: 120%;
    border:double black;
}


.input-button, a {
    border-radius: 10px;
    background-color: white;
    font-size: 120%;
    border:double black;
    transition: all 0.1s;
	margin: 10px;
}

.input-button:hover {
    transition: all 0.1s;
    transform: translateY(3px);
    cursor: pointer;
}

.box {
    background-color: #3d3d3d;
    padding: 10px;
    margin: 50px;
	width: 80%;
}

.invalid {
	color: red;
}

.image-container {
    padding: 40px;
    display: inline-block;
}

.images {
    float: left;
    width: 25%;
}

